parameters:
  level: max
  paths:
    - src/

includes:
  # the extension is installed as a global Composer package, inside our custom phpstan image, see docker/phpstan/Dockerfile
  - /composer/vendor/phpstan/phpstan-webmozart-assert/extension.neon
